<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">minifyjson.com <i>is a online json minifer tool based website</i> which is a initiative to help people to carry out the json minification process without any hassle.We focus to provide you the most up to date and latest tools in the market to make your life easier. All the tools which are made by me have been possible due to Node and Express Framework.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <!--<h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>-->
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020-21 All Rights Reserved by 
       <a href="/">MinifyJSON</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/geekygautam1997"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.youtube.com/c/CodingShiksha/"><i class="fa fa-youtube"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/codingshiksha/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>