<h2 style="text-align:center">Website Developer</h2>
<br><br>

<div class="card">
  <img src="img/profile.jpg" alt="John" style="width:100%">
  <h1>Gautam Sharma</h1>
  <p class="title">CEO & Founder, minifyjson.com</p>
  <p>India</p>
  <div style="margin: 24px 0;">
    <a target="_blank" href="https://www.youtube.com/c/CodingShiksha/"><i class="fa fa-youtube"></i></a> 
    <a target="_blank" href="https://www.instagram.com/codingshiksha/"><i class="fa fa-instagram"></i></a>  
    <a target="_blank" href="https://www.facebook.com/geekygautam1997"><i class="fa fa-facebook"></i></a> 
  </div>
</div>
<br><br><br><br>
